/*-----------Подключение шрифтов----------*/

@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/Proxima_Nova/Proxima Nova Regular/Proxima Nova Regular.eot');
	src: url('/fonts/Proxima_Nova/Proxima Nova Regular/Proxima Nova Regular.eot?#iefix')format('embedded-opentype'),
	url('/fonts/Proxima_Nova/Proxima Nova Regular/Proxima Nova Regular.woff') format('woff'),
	url('/fonts/Proxima_Nova/Proxima Nova Regular/Proxima Nova Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Proxima Nova Thin';
	src: url('/fonts/Proxima_Nova/Proxima Nova Thin/Proxima Nova Thin.eot');
	src: url('/fonts/Proxima_Nova/Proxima Nova Thin/Proxima Nova Thin.eot?#iefix')format('embedded-opentype'),
	url('/fonts/Proxima_Nova/Proxima Nova Thin/Proxima Nova Thin.woff') format('woff'),
	url('/fonts/Proxima_Nova/Proxima Nova Thin/Proxima Nova Thin.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('/fonts/Proxima_Nova/Proxima Nova Bold/Proxima Nova Bold.eot');
	src: url('/fonts/Proxima_Nova/Proxima Nova Bold/Proxima Nova Bold.eot?#iefix')format('embedded-opentype'),
	url('/fonts/Proxima_Nova/Proxima Nova Bold/Proxima Nova Bold.woff') format('woff'),
	url('/fonts/Proxima_Nova/Proxima Nova Bold/Proxima Nova Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
    font: 0.9em/20px 'Proxima Nova', Arial, sans-serif;
    background: #f4f5f6;
    max-width: 2560px;
    min-width: 860px;
    margin: 0px auto;
    -webkit-text-size-adjust: none;
    color: #323232;
}

img,embed,object,video {
    max-width: 100%;
    border: 0px;
    margin: 0;
    padding: 0;
    height: auto;
}

div {
    margin: 0px;
    padding: 0px;
}

input,textarea,select,button {
    outline: none;
    resize: none;
}

h1 {
    font-family: 'Proxima Nova';
    font-size: 24px;
    color: #323232;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Proxima Nova';
    font-size: 20px;
    color: #323232;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: 'Proxima Nova';
    font-size: 18px;
    color: #323232;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

h4 {
    font-family: 'Proxima Nova';
    font-size: 16px;
    color: #323232;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

h4.grey {
    color: #797979;
}

h5 {
    font-family: 'Proxima Nova Thin';
    font-size: 16px;
    color: #323232;
    line-height: 19px;
    margin: 0;
    padding: 0;
}

h6 {
    font-family: 'Proxima Nova';
    font-size: 14px;
    color: #323232;
    line-height: 17px;
    margin: 0;
    padding: 0;
}

hr {
    color: #848484;
    height: 1px;
    border: 0px;
    background-color: #848484;
}

p,
ul,
ol {
    margin: 0 0 5px 0;
    padding: 0 0 0 0px;
}

ul,
ol {
    margin-left: 20px;
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin: 0 0 0 20px;
}

li {
    margin: 0;
}

form {
    margin: 0;
    padding: 0;
}

a {
    color: #007dd5;
    text-decoration: none;
}

a:hover,
a:active {
    color: #007dd5;
    text-decoration: none !important;
}

.page__docs{
		font-size: 13px;
		line-height: 1.3;
		color: #919599;
    text-align: left;
}

.page__docs a{
		font-size: 16px;
		text-decoration: underline;
}

.table .page__docs a {
    font-size: 14px;
}

.icon-document{
    width: 45px;
    flex-shrink: 0.3;
}

.page__block{
		flex: 1;
		align-items: center;
}

.page__block a{
		color: #323232;
}

.f16{
	font-size: 16px !important;
}

.f14{
	font-size: 14px !important;
}

.header {
    height: 50px;
    background: #dadfe6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    max-width: 1140px;
    min-width: 680px;
    margin: 0 auto;
    width: 80vw;
}

.flex {
    display: flex !important;
}

.flex-inline {
    display: inline-flex;
}

.flex-between {
    justify-content: space-between;
}

.flex-vertical {
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}

.flex-start {
    justify-content: flex-start !important;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
}

.flex-around {
	justify-content: space-around;
}

.flex-noshrink{
    flex-shrink: 0 !important;
    flex-grow: 0 !important;
}

.flex-b33{
    flex-basis: 33%;
}

.flex-2-col{
    flex-basis: 50%;
}

.flex-3-col {
    flex-basis: 33%;
}

.flex-3-col-links {
    flex-basis: 29%;
}

.flex-4-col {
    flex-basis: 25%;
}

.flex-full {
    flex: 1;
}

.picture-link {
    display: block;
}

.upper {
    text-transform: uppercase;
}

.p-header {
    color: #919090;
    margin-bottom: 2px;
    padding-right: 5px;
}

.p-body {
    margin: 0;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.marg-l {
    margin-left: 20px;
}

.marg-r {
    margin-right: 20px;
}

.marg-t {
    margin-top: 20px;
}

.marg-b {
    margin-bottom: 20px;
}

.big-marg-b {
    margin-bottom: 40px;
}

.big-marg-t {
    margin-top: 40px;
}

.small-marg-r {
    margin-right: 10px;
}

.small-marg-l {
    margin-left: 10px;
}

.small-marg-t {
    margin-top: 10px;
}

.small-marg-b {
    margin-bottom: 10px;
}

.small-marg-t-adapt {
    margin-top: 10px;
}

.small-marg-t-adapt-rev {
    margin-top: 0;
}

.logo {
    padding-right: 15px;
    border-right: #c0c7d2 2px solid;
    margin-right: 15px;
}

.logo img {
    height: 50px;
}

.title {
    width: 220px;
}

.search {
    background-color: #e9edf1;
    height: 123%;
    margin-left: 15px;
    width: 290px;
    margin-top: -5px;
}

.search-form {
    width: 100%;
}

.search-form input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #7f848b;
    padding-left: 15px;
}

.search-form input[type=submit] {
    background: url("/images/lupa.png") no-repeat;
    padding-right: 20px;
    cursor: pointer;
}

/* MENU */

.hidden-menu {
    display: block;
    position: fixed;
    list-style: none;
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0;
    box-sizing: border-box;
    width: 300px;
/*    background-color: #284e6f;*/
    background: url("/images/menu_bgr.jpg") no-repeat;
    height: 100vh;
    top: 0;
    left: -300px;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.hidden-menu>li>a {
    color: #fff;
    font-size: 16px;
    margin-top: 15px;
    display: block;
}

.hidden-menu>li>a:hover {
    text-decoration: underline;
}

.hidden-menu-ticker {
    display: none;
}

.btn-menu {
    color: #fff;
    background-color: #273848;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    cursor: pointer;
    transition: left .13s;
    z-index: 3;
    width: 30px;
    height: 20px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.btn-menu span {
    display: block;
    height: 5px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}

.btn-menu span.first {
    margin-top: 0;
}

.hidden-menu-ticker:checked~.btn-menu {
    left: 230px;
}

.hidden-menu-ticker:checked~.hidden-menu {
    left: 0;
}

.hidden-menu-ticker:checked~.btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 10px;
}

.hidden-menu-ticker:checked~.btn-menu span.second {
    opacity: 0;
}

.hidden-menu-ticker:checked~.btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 102vh;
}

.shadow-block {
    box-shadow: 0 2px 5px 2px #d6d6d6;
    background-color: #fff;
    padding: 25px;
}

.shadow-block-small {
    padding: 15px !important;
    margin-right: 20px;
}

.flex > .shadow-block {
    height: 100%;
}

.shadow-block-small:nth-child(3n+3) {
    margin-right: 0;
}

.footer {
	height: 45px;
	background:url("/images/footerbackground.png");
	width: 100vw;
    padding-top: 30px;
}


.footer p {
    color: #fff;
    font-size: 16px;
}

.b_soc img {
    max-width: 39px;
}

.page__name{
	margin-top: 20px;
    margin-bottom: 20px;
}

.path__link {
    color: #5282c3;
    font-size: 12px;
    text-decoration: underline;
}

.grey-text {
    color: #b2b2b2;
    font-size: 12px;
    line-height: 18px;
}

.path__current, .date, .page__subtitle{
    color: #919599;
    font-size: 14px;
    margin-bottom: 10px;
}

.date, .page__subtitle{
    display: block;
}

.page__title{
    margin-bottom: 10px;
}

.z3d{
    z-index: 0;
}

.page__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.diagram__toggle{
    display: inline-flex;
    align-items: center;
    align-self: flex-start;
}

.btn-yellow-noshw {
    background-color: #f6bd68;
    color: #fff;
    padding: 15px;
    font-size: 18px;
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
}
.btn-yellow-noshw:hover{
    color: #ffffff; !important;
    background-color: #fec570;
}
.input-300 {
    width: 300px;
}

.sub-docs {
    margin-left: 80px;
}

.header-row {
    background-image: url('../images/map_back.png');
    padding: 15px;
    background-size: cover;
    box-shadow: 0 2px 5px 2px #d6d6d6;
}

div#diagram {
    display: none;
}
