@media screen and (max-width: 1770px) {
    .hidden-menu-ticker:checked~.content .container {
        margin-left: 320px;
        -webkit-transition-property: margin-left;
        -moz-transition-property: margin-left;
        -o-transition-property: margin-left;
        transition-property: margin-left;
        -webkit-transition-duration: 2s;
        -moz-transition-duration: 2s;
        -o-transition-duration: 2s;
        transition-duration: 2s;
    }
    
    .footer .container {
       margin-left: 320px; 
    }
}

@media screen and (max-width: 1450px) {
    ul.main-menu li {
        background-size: 30px 30px, cover;
        padding-left: 55px;
    }

    .pz {
        display: flex;
        margin-top: 20px;
        flex-wrap: wrap;
    }
    
    .big-marg-b {
        margin-bottom: 20px;
    }

    .small-marg-t-adapt {
        margin-top: 0;
    }

    .small-marg-t-adapt-rev {
        margin-top: 10px;
    }

    .news-block {
        flex-wrap: wrap;
    }
    
    .news-item {
        flex-basis: 48% !important;
    }
    
    .news-item:nth-child(2n) {
        margin-right: 0;
    }

    .flex-2-col {
        flex-basis: 100% !important;
        margin-right: 0 !important;
    }

    .flex-3-col {
        flex-basis: 50% !important;
    }
    
    .flex-3-col-links {
        flex-basis: 44% !important;
    }
    
    .shadow-block-small:nth-child(2n+2) {
        margin-right: 0;
    }
    
    .shadow-block-small:nth-child(3n+3) {
        margin-right: 20px;
    }
    
    .flex-4-col {
        flex-basis: 33% !important;
    }
    
    ul.projects p {
        font-size: 16px !important;
    }
}

